* {
    padding: 0;
    margin: 0;
}

 body {
    font-family: Arial, sans-serif;
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin-top: 20px;
    text-align: center;
    color: #333;
} 


.game-btn {
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border: 5px solid white;
}

.game-btn:hover {
    border: 5px solid black;
}

.container {
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 6rem;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100px;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-weight: bold;
}

#comp-msg,
#player-msg,
#win-msg,
#draw-msg,
#player-choice,
#comp-choice {
    margin-left: 5px;
}

.winner-msg {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

.reset {
    margin-top: 20px;
    text-align: center;
}

.reset button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset button:hover {
    background-color: #0056b3;
}

.hide {
    display: none;
}
